*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    /* background: #e3f9ff; */
    background-image: url('./image/bg.jpg.webp');
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to right, #d0d2b798, #c4bd7cc9); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    /* background-color: #2d2d2d; */
    z-index: 1;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 12px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color: #ffff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-color: #1e1e1e;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: #33ffd8;
}
form input.dot{
    font-size: 30px;
    font-weight: bold;
}